.link_album{
    cursor: pointer;
    font-weight: bold;
}

.link_album:hover {
    color: dodgerblue;
}

p{
    font-size: 14pt;
}

#retour{
    margin-top: -3px;
}

#plus{
    margin-top: -6px;
}

#moins{

}

#edit{
    margin-right: 10px;
}

#nom{

}

#desc{
    font-size: 10pt;
    margin-left: 48px;
}