/*************************** Sortable *****************************/

.sortable {
    width:auto;
    height: auto;
    list-style-type: none;
}
.sortable li {
    float: left;
}
li {
    list-style-type: none;
}
img {
    height:100px;
    margin:5px;
    cursor: move;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.remove_alb:hover, .remove_tag:hover{
    color: #ff0000;
}

.remove_alb, .remove_tag{
    cursor: pointer;
    font-weight: bold;
}
