#eleve{
    display:none;
}

#club{
    display:none;
}

.type{
    font-weight: normal;
}

.error{
    color:red;
    font-weight: normal;
}

tr>th{
    background-color: lightgray;

}

th:hover{
    background-color: lightgray;
}

tr:hover {
    background-color: lightblue;
}